.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0px 0px 10px grey;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 50px;
}
.container h2 {
  color: blue;
}
.container > h3 > span{
  font-size: xx-large;
}
.text-center {
  text-align: center;
}
.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: #efefef;
}
.expense-container h3{
  padding: 10px;
  margin: 10px;
  width: 50%;
  height: 60px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
}
.expense-container h3:nth-child(1) span {
  color: green;
}
.expense-container h3:nth-child(2) span {
  color: red;
}
.transaction-list {
  margin: 0px;
  padding: 0px;
}
.transaction-list > li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: white;
  padding: 10px;
  margin: 10px;
  max-height: 20px;
  box-shadow: 0px 0px 5px grey;
}
.list-style {
  height: 20px;
  width: 10px;
  background-color: rgb(31, 67, 228);
}
.transaction-form input {
  width: 100%;
  margin: 5px;
  padding: 5px;
}
.transaction-form input[type="submit"] {
  font-weight: bold;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: rgb(118, 248, 118);
}
.transaction-form input:hover[type="submit"] {
  cursor: pointer;
}